/* p{
    color: brown;
    font-size: xx-large;
    font-weight: bold;
   
    text-decoration: overline;
    background-color: cadetblue;
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    /* font-style: italic; */
}
/* h1{
    color: red;
    font-size: xx-large;
    font-weight: bold;

    text-decoration: wavy;
    text-decoration: underline;
    background-color: burlywood;
    letter-spacing: 10px; */
    /* font-style: italic; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

} *//
 paragh1{
    color: red;
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
