
/* p{
    color: brown;
    font-size: xx-large;
    font-weight: bold;

    text-decoration: overline;
    background-color: cadetblue;
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  
}
h1{
    color: red;
    font-size: xx-large;
    font-weight: bold;

    text-decoration: wavy;
    text-decoration: underline;
    background-color: burlywood;
    letter-spacing: 10px; 
  font-style : italic; 
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}   */
/* border => width style color
  
box border - margin padding 

  content and border k bich ki space padding hoti h 
border k bahar ki space margin   */

.qw1{
  color: red;

}
.qw2{
  color: brown;
}
.qw3{
  color: blueviolet;
}
.qw4{

  color: chocolate;

}
p{
  color: brown;
}
#container{
  display: flex;
  justify-content: space-between;
   /* space evenly , center , left right  (all this property of justifycontent) */

}
#famii{
  
  display: flex;
  justify-content: center;
  gap: 12px;

}
#box{
  display: flex;
  
}




