<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    


    <!-- <style>
        p{
            /* property-name:value; */
            color: brown;
            font-size: xx-large;
            font-weight: bold;
        }
        h1{
            color: blanchedalmond;
            font-size: xx-large;
            font-weight: bold;
        }
    paragh1{
        color: yellow;
    }

    
    </style> -->
</head>
<body>
    <!-- css ways to add  -->
    <!-- inline => style = property-name:value; -->
    <!-- internal => it adds in head tag using style tag(example is written in head tag)
    external -  -->
    selectors => element / tag selector 
                id selector =>
                class selector =>
    example
    <!-- style="color: red ; font-size: 30px; font-weight: bolder;" -->
    <p id="para1" > Hello smriti this side</p>
    <p id="para2">pursuing bca</p>
    p
    <h1>here we started css</h1>

    

</body>
</html>